$box-size: 8px;
$twice-box-size: $box-size * 2;
$checker-light: #363636;
$checker-dark: #181818;

@mixin checkerBackground {
	background-color: $checker-light;
	background-size: $twice-box-size $twice-box-size;
	background-position: 0 0, $box-size $box-size;
	background-image: linear-gradient(45deg, $checker-dark 25%, transparent 25%, transparent 75%, $checker-dark 75%, $checker-dark),
					linear-gradient(45deg, $checker-dark 25%, transparent 25%, transparent 75%, $checker-dark 75%, $checker-dark);
}
