body {
  background-color: rgb(39,39,39) !important;
}

.invisible {
  display: none;
}

.light-text {
  color: white;
}

.light-text-90 {
  color: rgba(255, 255, 255, 0.9);
}

.light-text-70 {
  color: rgba(255, 255, 255, 0.7);
}
